	/* Coded with love by Mutiullah Samim */

	a:hover {
	    color: violet;
	}

	.navbar-brand {
	    font-weight: 700;
	    font-family: "Montserrat", -apple-system, BlinkMacSystemFont,
	        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	    display: inline-block;
	    padding-top: 0.3125rem;
	    padding-bottom: 0.3125rem;
	    margin-right: 1rem;
	    font-size: 1.75rem;
	    line-height: inherit;
	    white-space: nowrap;
	    color: #fff;
	}

	a {
	    color: #000;
	}

	.logo {
	    height: auto;
	    max-height: 66px;
	    max-width: 158px;
	    width: auto;
	    vertical-align: middle;
	}

	.cabeza {
	    background-color: #9D0D55;
	}

	body,
	html {
	    margin: 0;
	    padding: 0;
	    height: 100%;
	    background: #3C0521;
	}

	.sesionn {
	    font-weight: 700;
	    margin-top: 30px;

	}

	.user_card {
	    height: 460px;
	    width: 400px;
	    margin-top: auto;
	    margin-bottom: auto;
	    background: #fff;
	    position: relative;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    padding: 10px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    border-radius: 5px;

	}

	.brand_logo_container {
	    position: absolute;
	    height: 170px;
	    width: 170px;
	    top: -75px;
	    border-radius: 50%;
	    background: #9D0D55;
	    padding: 10px;
	    text-align: center;
	}

	.brand_logo {
	    height: 150px;
	    width: 150px;
	    border-radius: 50%;
	    border: 2px solid white;
	}

	.form_container {
	    margin-top: 155px;
	}

	.login_btn {
	    width: 100%;
	    background: #9D0D55;
	    color: #000000;
	}

	.login_btn:focus {
	    box-shadow: none !important;
	    outline: 0px !important;
	}

	.login_container:hover {
	    padding: 0 2rem;
	}

	.input-group-text {
	    background: #050505 !important;
	    color: white !important;
	    border: 0 !important;
	    border-radius: 0.25rem 0 0 0.25rem !important;
	}

	.input_user,
	.input_pass:focus {
	    box-shadow: none !important;
	    outline: 0px !important;
	}

	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	    background-color: #c0392b !important;
	}